<% content_for :title, "Editing vendas produto" %>

<h1>Editing vendas produto</h1>

<%= render "form", vendas_produto: @vendas_produto %>

<br>

<div>
  <%= link_to "Show this vendas produto", @vendas_produto %> |
  <%= link_to "Back to vendas produtos", vendas_produtos_path %>
</div>
