<% content_for :title, "New vendas produto" %>

<h1>New vendas produto</h1>

<%= render "form", vendas_produto: @vendas_produto %>

<br>

<div>
  <%= link_to "Back to vendas produtos", vendas_produtos_path %>
</div>
