<% content_for :title, "Editing venda" %>

<h1>Editing venda</h1>

<%= render "form", venda: @venda %>

<br>

<div>
  <%= link_to "Show this venda", @venda %> |
  <%= link_to "Back to vendas", vendas_path %>
</div>
